<h1>お気に入り一覧</h1>

<table>
  <thead>
    <tr>
      <th>Post User</th>
      <th>Post Content</th>
      <th>Post Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |favorite| %>
        <tr>
          <td><%= favorite.picture.user.name %></td>
          <td><%= favorite.picture.content %></td>
          <td><%= image_tag favorite.picture.image.url if favorite.picture.image.url.present? %></td>
          <td><%= link_to 'Show', favorite.picture %>
        </tr>
      <% end %>
      <p> No Favorites Posts yet!</p>
    <% end %>
  </tbody>
</table>

<%= link_to "投稿一覧", pictures_path %>
<%= link_to "新規投稿", new_picture_path %>
